<div class="container">
	<div class="row">
		<div class="col-12 d-flex justify-content-center">
			<h1 class="title">{{title}}</h1>
		</div>
	</div>

	<br> <br>
	<router-outlet></router-outlet>
</div>