<div class="container">
	<h3>Mobile Details</h3>
	<hr/>
	<div *ngIf="mobile">
		<div>
			<label><b>Name: </b></label> {{mobile.mobileName}}
		</div>
		<div>
			<label><b>Make: </b></label> {{mobile.mobileMake}}
		</div>
		<div>
			<label><b>Price: </b></label>	&#8377;{{mobile.mobilePrice}}
		</div>
		<div>
			<label><b>Release Year: </b></label> {{mobile.mobileReleaseYear}}
		</div>
		<div>
			<label><b>Description: </b></label> {{mobile.mobileDesc}}
		</div>

	</div>
	
	<br>
	<br>
	<button (click)="goBack()" class="btn btn-info active">Back to all mobiles</button>
</div>