<div class="container">
	<div class="row">
		<div class="col-6 d-flex justify-content-center">
			<button routerLink="/mobiles" class="image">
				<img src="../../assets/images/mobile_image.png" alt="Mobiles"
					height="70%" width="70%">
			</button>

		</div>
		<div class="col-6 d-flex justify-content-center">
			<button class="image">
				<img src="../../assets/images/laptop_image.jpg" alt="Laptops"
					height="60%" width="61%">
			</button>
		</div>
	</div>
	<div class="row">
		<div class="col-6 d-flex justify-content-center">
			<button class="btn btn-info active" routerLink="/mobiles">Mobiles</button>

		</div>
		<div class="col-6 d-flex justify-content-center">
			<button class="btn btn-warning">Laptops</button>
		</div>
	</div>

</div>