<div class="container">
	<div class="row">
		<div class="col-1 offset-9">
			<button routerLink="/home" class="btn btn-info active">Home</button>
		</div>
		<div class="col-2">
			<button routerLink="/add" class="btn btn-info active">Add Mobile</button>
		</div>
	</div>


	<div class="panel panel-default">
		<div class="panel-heading">
			<h3>Mobiles</h3>
			<br>
		</div>
		<div *ngIf="mobiles && mobiles.length>0" class="panel-body">
			<table class="table table-striped table-bordered">
				<thead class="thead-dark">
					<tr>
						<th>Name</th>
						<th>Make</th>
						<th>Price</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let mobile of mobiles">
						<td>{{mobile.mobileName}}</td>
						<td>{{mobile.mobileMake}}</td>
						<td>&#8377;{{mobile.mobilePrice}}</td>
						<td align="center"><button
								routerLink="/details/{{mobile.mobileId}}"
								class="btn btn-sm btn-info active">Details</button> &nbsp;&nbsp;
							<button (click)="deleteMobile(mobile.mobileId)"
								class="btn btn-sm btn-danger">Delete</button></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

</div>
