<div class="container">
	<div [hidden]="submitted" style="width: 400px;">
		<h3>Add Mobile</h3>
		<br>
		<form>
			<div class="form-group">
				<label for="name">Name</label> <input type="text"
					class="form-control" id="name" required
					[(ngModel)]="mobile.mobileName" name="name">
			</div>

			<div class="form-group">
				<label for="name">Make</label> <select class="form-control"
					id="make" required [(ngModel)]="mobile.mobileMake" name="make">
					<option>Apple</option>
					<option>Samsung</option>
					<option>OnePlus</option>
					<option>Redmi</option>
					<option>Huawei</option>
					<option>Motorola</option>
				</select>
			</div>

			<div class="form-group">
				<label for="name">Price</label> <input type="text"
					class="form-control" id="price" required
					[(ngModel)]="mobile.mobilePrice" name="price">
			</div>

			<div class="form-group">
				<label for="name">Release Year</label> <input type="text"
					class="form-control" id="releaseYear" required
					[(ngModel)]="mobile.mobileReleaseYear" name="releaseYear">
			</div>

			<div class="form-group">
				<label for="name">Description</label>
				<textarea rows="3" cols="52" class="form-control" id="desc"
					[(ngModel)]="mobile.mobileDesc" name="desc"></textarea>
			</div>

			<button type="submit" class="btn btn-success" (click)="addMobile()">Submit</button>
			&nbsp;&nbsp;
			<button routerLink="/mobiles" class="btn btn-info active">Back
				to all mobiles</button>
		</form>
	</div>

	<div [hidden]="!submitted">
		<h4>You submitted successfully!</h4>
		<br> <a routerLink="/mobiles" class="btn btn-success">Back
			to mobile list</a>
	</div>
</div>